# Ignore pycache
__pycache__/

# Ignore compiled python files
*.py[cod]

# Ignore files associated with local pip install
cell_counter.egg-info

# Ignore dataset
resources/BBBC005_v1_images/
resources/BBBC005_v1_ground_truth/
resources/BBBC005_v1_images.zip

# Ignore ctags
tags

# Ignore checkpoints, as their fairly large
resources/checkpoints

# Ignore dataset_info.csv, as it can be generated and changed frequently
resources/dataset_info.csv

# Do not save generated plots
*.png
